DOMAIN = http://localhost:3000

DOMAIN = http://localhost:3000

API_KEY=
VIDEO_LIB_ID=
BUNNY_CND_PULL_ZONE=

DB_NAME=tiktok
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=pass
DB_HOST=database

RABBIT_MQ_USER=admin
RABBIT_MQ_PASSWORD=pass
RABBIT_MQ_HOST=processing_queue
RABBIT_MQ_ROUTE=/
RABBIT_MQ_PORT=5672

LIKE_CLASS_FACTOR = 0.1
N_CLASSES = 600